body{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
    margin: 0;
    background-image: url(../img/_2051e2aa-f1fc-4906-b5fc-de0ee096d529.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    grid-area: header;
}

/*nav {
#   grid-area: nav;
}*/

main {
    grid-area: main;
    display: grid;
    grid-template-areas:
    "section";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
section {
    grid-area: section;
    display: grid;
    grid-template-areas:
    "article";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
article{
    grid-area: article;
}

footer {
    grid-area: footer;
   text-align: left;
    
}


.botonColor {
    background-color: rgb(57, 57, 237);
    color: white;
    width: 10%;
    height: 10%;
    border-style: solid;
    border-color: aqua;
}